/*
accent color: #00ffc6

*/
:root{
    --Background-color:#080813;
    --accent-color: #00ffc6;
    --title-text: #ffffff;
    --body-text: #d5d5ec;
}

a{
    font-size: 16px; 
    cursor: pointer;
    
}

h1{
   font-size: 70px; 
   line-height: 80px;
   font-weight: 800;
}

h2{

}

h3{
    font-size: 70px; 
   line-height: 70px;
   font-weight: 800;
}

p{
    font-size: 16px; 
    line-height: 30px;
     }

body {
    background-color: var(--Background-color);
    color: var(--body-text);
    font-family: 'Lato', sans-serif;
}

.header-main{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    line-height: 10px;
    padding-top: 10px;
    background-color: var(--Background-color);
    color: var(--body-text);
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    z-index: 1000;
}

.header-main-logo{
    width: fit-content;
    height: 65px;
    padding-left: 50px;
 
}
.header-main-logo img{
    height: 80%;
    margin-top: 8px;
    justify-self: center;
    
}

.header-main-nav{
    width: fit-content;
    height: 100%;
 
    display: flex;
    
}

.header-main-nav ul{

}

.header-main-nav ul li{
    display: inline;
    float: left;

}

.header-main-nav ul li a{
    margin-right: 30px;
    line-height: 60px;
}

.header-main-nav ul li a:hover{
    color: var(--accent-color);
}

.header-main-resume{
    width: 120px;
    height: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-main-resume a{
    color: #00ffc6;
    border: 1px solid #00ffc6;
    margin-bottom: 7px;
    padding: 15px 15px;
    border-radius: 3px;
    transition: box-shadow 0.3s, background-color 0.3s; /* Add transition for smooth color change */

}

.header-main-resume a:hover{
    color: var(--title-text);
    box-shadow: 0 0 0 1px #00ffc6; /* Add a larger box-shadow to create the effect */
    background-color: #00ffc8ad;
}