/*
accent color: #00ffc6

*/
:root{
    --Background-color:#080813;
    --accent-color: #00ffc6;
    --title-text: #ffffff;
    --body-text: #d5d5ec;

    --default-font: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::before ::after {
    box-sizing: inherit;
}



a{
    font-size: 16px; 
    cursor: pointer;

    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

button{
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}
    
ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h1{
   font-size: 60px; 
   line-height: 80px;
   font-weight: 700;
}

h2{
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--title-text);
    line-height: 1.1;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
     }

div{
    display: block;
}
::before, ::after {
    box-sizing: inherit;
}

section{
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}
body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: var(--Background-color);
    color: var(--body-text);
    font-family: var(--default-font);
    font-size: 17px;
    line-height: 1.7;
}


.PAGE-Layout-Style{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
 
.header-main{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 100px;
    background-color: var(--Background-color);
    backdrop-filter: blur(10px);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.header-main-logo{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.header-main-logo img{
    color: var(--accent-color);
    width: 42px;
    height: 42px;
    position: relative;
    z-index: 1;
}

.header-main-nav{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--body-text);
    font-family: var(--default-font);
    counter-reset: item 0;
    z-index: 12; 
}

.header-main-nav-TAGS{
    display: flex;
    -webkit-box-align: center;
    align-items: center; 
}

.header-main-nav-TAGS ol{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header-main-nav-TAGS ol li{
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: 13px;
}

.header-main-nav-TAGS ol li a{
    padding: 10px;
}

.header-main-nav-TAGS ol li a::before{
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--accent-color);
    font-size: 12px;
    text-align: right;
}

.header-main-nav-TAGS ol li a:hover{
    color: var(--accent-color);
}


.header-main-resume a{
    /* color: #00ffc6;
    border: 1px solid #00ffc6;
    margin-bottom: 7px;
    padding: 15px 15px;
    border-radius: 3px;
    transition: box-shadow 0.3s, background-color 0.3s; Add transition for smooth color change */


    color: var(--accent-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    padding: 0.75rem 1rem;
    font-family: var(--default-font);
    line-height: 1;
    text-decoration: none;
    transition: box-shadow 0.3s, background-color 0.3s;
    margin-left: 15px;
    font-size: 13px;
}

.header-main-resume a:hover{
    color: var(--title-text);
    box-shadow: 0 0 0 1px #00ffc6; /* Add a larger box-shadow to create the effect */
    background-color: #00ffc8ad;
}


.LayoutRight{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--body-text);
}

.LayoutRight-Email{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.LayoutRight-Email a{
    margin: 20px auto;
    padding: 10px;
    font-family: var(--default-font);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.LayoutRight-Email::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--body-text);
}



@media (prefers-reduced-motion: no-preference)

.kFCHyX .logo a .hex-container {
    transition: var(--transition);
}



